html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #BF2227; 
  height: 100%; 
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  src: url("/assets/fonts/georgia.ttf"); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;